.header {
  height: 74px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  margin: 0 44px 0 0;
}

.header__logo {
  max-width: 38px;
}

.header__nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__nav_sign {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__singin {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  padding: 8px 0;
  text-decoration: none;
  background-color: #3DDC84;
  border-radius: 3px;
  text-align: center;
  width: 76px;
}

.header__singup {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__nav_movies {
  display: flex;
  gap: 16px;
}

.header__linkMovie {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: unset;
  color: #FFFFFF;
}

.header__nav_acc {
  display: flex;
  gap: 13px;
  align-items: center;
}

.header__linkAccount {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: unset;
  color: #FFFFFF;
}

.header__account {
  background-color: #313131;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__accountLogo {
  width: 10px;
  height: 10px;
}