.footer {
  padding: 80px 70px 20px;
}

.footer__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  border-bottom: solid 1px #424242;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 0.6;
  transition: opacity 0.3s linear;
}


@media screen and (max-width:768px) {
  .footer {
    padding: 80px 30px 20px;
  }
}

@media screen and (max-width:590px) {
  .footer {
    padding: 80px 10px 20px;
  }

  .footer__description {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 30px;
  }

  .footer__box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px;
    gap: 12px;
  }

  .footer__copyright {
    color: #8B8B8B;
    line-height: 15px;
  }
}