@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

body {
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
  background-color: #202020;
  font-family: "Inter", "Arial", sans-serif;
  color: #FFFFFF;
}